<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Google Fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Header -->
    <div th:insert="~{fragment :: header}"></div>

    <!-- Main Content -->
    <main>
        <h2>Accueil de RocMovies</h2>
        <p>Découvrez les dernières nouveautés et les classiques du cinéma.</p>
        <!-- Filter by style -->
        <section class="filter-section">
            <form th:action="@{/films/filter}" method="get">
                <label for="style">Filtrer par style :</label>
                <select id="style" name="style">
                    <option value="">Tous</option>
                    <option value="SF">SF</option>
                    <option value="DRAME">DRAME</option>
                    <option value="THRILLER">THRILLER</option>
                    <option value="ACTION">ACTION</option>
                </select>
                <button type="submit">Filtrer</button>
            </form>
        </section>

        <!-- Movies List -->
        <div th:insert="~{fragment :: moviesList}"></div>

    </main>

    <!-- Footer -->
    <div th:insert="~{fragment :: footer}"></div>
</body>
</html>